---
---

/* modify Bootstrap variables here */
// @import "main";
// @import "style";
/* add additional CSS rules below */

// $backgroundColor: #ffffff;
// $bodyColor: #000000;
// $bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

@import "bootstrap/bootstrap";

$backgroundColor: #Ececdf;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

h1, h2, h3, h4, h5, h6{
    font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: -1px;
}

h1 {
  font-size:  4rem
}

img{
    pointer-events: none;
}

// .btn-primary {
//   background-color: #235284
// }

.btn-primary {
    color: #e3e3e3;
    background-color: #437ed3;
    border-color: #ffffff;
    border-radius: .75rem
}

.btn-primary:hover {
    background-color: #17b0e3;
    border-color: #ffffff;
}

.card {
  margin: 0px 0px 35px 0px;
  background-color: #b8b8a9;
  border-radius: 1rem;
  overflow: hidden;
  // color: #e6e6e6
}

.card img {
  // background-color: #ffffff
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
