---
layout: default
title: Resume
---
<div class="container" style="width:90%">
  <div class="container" style="margin-top: 3em; margin-bottom: 4em">
    <h1 class="text-center">Resume</h1>
  </div>

  <!-- <div class="container">
    <div class="justify-content-center">
      <ul class="nav nav-pills" id="myTab">
            <li class="nav-item">
                <a href="#home" class="nav-link active" data-bs-toggle="tab">Home</a>
            </li>
            <li class="nav-item">
                <a href="#profile" class="nav-link" data-bs-toggle="tab">Profile</a>
            </li>
            <li class="nav-item">
                <a href="#messages" class="nav-link" data-bs-toggle="tab">Messages</a>
            </li>
        </ul>
    </div>
  </div> -->


  <div class="container">
    <div class="subsect">
      <h2>Education</h2>
      <hr>
      <div class="row">
        <div class="col-md-7">
          <h3>Graduate Studies</h3>
          <h5>Georgia Institute of Technology; Atlanta, Georgia</h5>
          Degree: M.S. Electrical and Computer Engineering, 2022 <br>
          Focus: Robotics and Controls, Hydroponics <br>
          Cumulative GPA: 3.00 <br>
        </div>
        <div class="col text-end">
          <img src="img/gtsmall.png" style="height: 9rem"alt="">
          <img src="img/GT.png" style="height: 9rem"alt="">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <span style="font-size: 1.3rem;">Classes:</span>
          <a class="" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Expand
          </a>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <ul>
                <li>ECE 6550: Linear Systems</li>
                <li>ECE 6552: Nonlinear Systems</li>
                <li>ECE 6270: Convex Optimization</li>
                <li>ECE 6240: Statistical Machine Learning</li>
                <li>ECE 6563: Networked Control Systems</li>
                <li>ECE 6001: Entrepreneurship</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <br>
      <div class="row">
        <div class="col-md-7">
          <h3>Undergraduate Studies</h3>
          <h5>Georgia Institute of Technology; Atlanta, Georgia</h5>
          Major: B.S. Computer Engineering, 2021 <br>
          Minor: Robotics <br>
          Cumulative GPA: 3.56 <br>
        </div>
        <div class="col text-end">
          <img src="img/gtsmall.png" style="height: 9rem"alt="">
          <img src="img/GT.png" style="height: 9rem"alt="">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <span style="font-size: 1.3rem;">Classes:</span>
          <a class="" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
              Expand
          </a>
          <div class="collapse" id="collapseExample1">
            <div class="card card-body">
              <div class="row">
                <div class="col">
                  <h6>Major Specific (ECE)</h6>
                  <ul>
                    <li>ECE 2020: Digital System Design</li>
                    <li>ECE 2026: Digital Signal Processing</li>
                    <li>ECE 2031: Digital Design Lab (VHDL)</li>
                    <li>ECE 2035: Programming HW/SW Systems</li>
                    <li>ECE 2036: Engineering Software Design</li>
                    <li>ECE 2040: Circuit Analysis</li>
                    <li>ECE 3020: Math Foundations of Comp.E</li>
                    <li>ECE 3030: Physical Foundations of Comp.E</li>
                    <li> CS 1371: MATLAB</li>
                    <li>CS 3600: Artificial Inteligence</li>
                  </ul>
                </div>
                <div class="col">
                  <h6>Math/Science</h6>
                  <ul>
                    <li>MATH 1553: Linear Algebra</li>
                    <li>MATH 2551: Multivariable Calculus</li>
                    <li>MATH 2552: Differential Equations</li>
                    <li>CHEM 1310: General Chemistry</li>
                    <li>PHYS 2212: Physics II: E&M</li>
                    <li>PHYS 2201: Astronomy</li>
                    <li>ISYE 3770: Probability & Statistics</li>
                  </ul>
                </div>
                <div class="col">
                  <h6>Other</h6>
                  <ul>
                    <li>PSYC 1101: General Psychology</li>
                    <li>PSYC 2240: Personality Theory</li>
                    <li>ARCH 2111: History of Architecture I </li>
                    <li>APPH 1040: Health & Wellness</li>
                  </ul>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <br>

<!--  Experience  -->
    <div class="subsect">
      <h2>Job Experience</h2>
      <hr>
      {% include experience.html
        location= "Starfish Space | Seattle, Washington"
        jobtitle= "GNC Engineer"
        time= "June 2024-Present"
        image="SF.jpg"
        description=
        "<li> Developing computer vision and optical navigation algorithms for spacecraft rendezvous and proximity operations.
         <li> Writing software for and conducting tests and qualifications for on-orbit camera systems."
      %}
      {% include experience.html
        location= "John Deere Intelligent Solutions Group (ISG)| Des Moines, Iowa"
        jobtitle= "Controls Engineer"
        time= "May 2023-May 2024"
        image="JD.png"
        description=
        "<li> Developed and implemented navigation and control algorithms for autonomous vehicles for precision agriculture applications.
         <li> Conducted field tests to validate control strategies and optimize performance in real-world conditions."
      %}
      {% include experience.html
        location= "Georgia Tech | Atlanta, Georgia"
        jobtitle= "Robotic Hydroponic Imaging Research Student"
        time= "Summer 2021-2022"
        image="GT.png"
        description=
        "<li> Researched methods for 3D reconstruction and morphological analysis of hydroponically grown plants using a robotic arm and advanced computer vision techniques. This method can reconstruct plant systems at ~70 micron resolution."
      %}
      {% include experience.html
        location= "Southwest Research Institute | San Antonio, Texas"
        jobtitle= "Robotics Engineering Intern"
        time= "Summer 2020"
        image="swri.png"
        description=
        "<li>Improved existing company interface to the Universal Robot system by adding the ability to dynamically detect and adapt to unsafe operations.
         <li>Rewrote a ROS-Industrial real time path planning algorithm to handle higher dimensional optimization problems, allowing for the use of higher degree-of-freedom robots and systems in real-time path planning applications."
      %}
      {% include experience.html
        location= "University of Arizona General Robotics and Optimization with Learning(GROwL) Lab | Tucson, AZ"
        jobtitle= "Research/Laboratory Aide"
        time= "Summer 2019"
        image="UA.png"
        description=
        "<li> Wrote an OpenCV programs in Python to find rock and pebble size distributions of a given soil image as well as detect vegetation in an image using an infrared/color camera and a Raspberry Pi"
      %}
      {% include experience.html
        location= "University of Arizona General Robotics and Optimization with Learning(GROwL) Lab | Tucson, AZ"
        jobtitle= "Research/Laboratory Aide"
        time= "Summer 2018"
        image="UA.png"
        description=
        "<li> Developed software to access and record data from the lab's motion capture system using the Robot Operating System(ROS) and various existing packages, which allows students or faculty to test control theory.
         <li>Assembled small mobile robots purchased in kit form and integrated these robots into above software.
         <br><br>
         Presented this research at a poster session for the ASME International Conference in Pittsburgh, PA - October 2018"
      %}
      {% include experience.html
        location= "University of Arizona Optics Lab / REhnu | Tucson, AZ"
        jobtitle= "Research/Laboratory Aide"
        time= "Summer 2015, 2016"
        image="UA.png"
        description=
        "<li> Helped design and build a stainless steel programmable glass mold in 2015 which allowed REhnu to increase their glass mirror production rate from 1 mirror/2 days to 2 mirrors/day.
         <li>Created curved glass prisms in 2016 to increase the efficiency of REhnu's solar power conversion unit.
         <li>Cataloged lab chemicals and created a Material Safety Data Sheet booklet, and tested heat exchangers for efficiency."
      %}
    </div>
    <div class="subsect">
      <h2>Skills</h2>
      <hr>
      <div class="subsect">
        <h5>Programming Languages</h5>
        MATLAB | C++ | C | Assembly | Python | Java | HTML | CSS | JavaScript | R | Rust
      </div>
      <br>
      <div class="subsect">
        <h5>Technologies</h5>
        Linux | OpenCV | React.js | ROS | ROS-I
      </div>
      <br>
      <div class="subsect">
        <h5>Hardware</h5>
        Robotic Manipulators | Microcontrollers | 3D Printing
      </div>
    </div>
    <br>
    <div class="subsect">
      <h2>Leadership</h2>
      <hr>
      <div class="subsect">
        <div class="row">
          <div class="col-md-10">
            <h5>IEEE Innovation Team Chief Technology Officer</h5>
          </div>
          <div class="col">
            <h5 style="text-align: right; font-style:italic;">Fall 2018-Present</h5>
          </div>
        </div>
        Presented new and innovative technology biweekly, helped out teams with technology problem.
      </div>
      <br>
      <div class="subsect">
        <div class="row">
          <div class="col-md-6">
            <h5>Vex Robotics Team 12X, 12D, 12A | Team Leader</h5>
          </div>
          <div class="col">
            <h5 style="text-align: right; font-style:italic;">September 2012 - June 2017</h5>
          </div>
        </div>
        <ul>
          <li>Managed a team of 3-4 people each year by delegating tasks such as programming, designing, and building to members based on their strengths.</li>
          <li>Managed team deadlines and set goals after every competition in order to do better in the future, allowing the team to reach State Championship semifinals and win the National Championship in 2017.</li>
        </ul>
      </div>
    </div>
  </div>
